.container {
  width: 95%;
  height: 200px;
  background-color: #cecbcb;
  border: 1px solid #ffffff47;
  border-radius: 6px;
  box-shadow: 7px 9px 9px -9px;
}

.title{
  text-align: center;
    font-weight: bold;
    font-size: 43px;
    color: #1890ff;
}